In [30]:
import pandas as pd
import glob
from datetime import datetime

In [33]:
path = r'data/' # use your path
all_files = glob.glob(path + "/20**.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

bonds = pd.concat(li, axis=0, ignore_index=True)
bonds.to_csv("data/bonds_complete.csv")

In [34]:
infringement = pd.read_csv("data/Infringement_1.csv")
rates = pd.read_csv("data/rates.csv")
bonds = pd.read_csv("data/bonds_complete.csv")

In [28]:
my_times = infringement['Date'].values
my_time_cor = []
for my_time in my_times:
    dt_obj = datetime.strptime(my_time,'%m/%d/%Y')
    my_time_cor.append(dt_obj.strftime('%Y-%m-%d'))
df = pd.DataFrame({'col':my_time_cor})
infringement['Date'] = df['col']

      Unnamed: 0       dates  opening_values  closing_values
0              1  2020-01-02         1910.79         1912.16
1              2  2020-01-03         1914.52         1914.30
2              4  2020-01-07         1913.74         1908.15
3              5  2020-01-08         1907.94         1905.50
4              6  2020-01-09         1903.60         1902.95
...          ...         ...             ...             ...
2611         253  2017-12-21         1752.85         1754.36
2612         254  2017-12-22         1754.64         1756.36
2613         257  2017-12-27         1757.89         1757.78
2614         258  2017-12-28         1758.12         1757.36
2615         259  2017-12-29         1757.55         1757.58

[2616 rows x 4 columns]

,Date,Infringement Dummy,Rule of Law Dummy,Budget Dummy,Financial Markets Dummy,col,col
0,01/23/2014,1,1.0,NaN,NaN,2014-01-23,2014-01-23
1,01/27/2014,1,1.0,NaN,1.0,2014-01-27,2014-01-27
2,02/05/2014,1,1.0,NaN,NaN,2014-02-05,2014-02-05
3,02/20/2014,1,NaN,NaN,NaN,2014-02-20,2014-02-20
4,03/28/2014,1,NaN,NaN,NaN,2014-03-28,2014-03-28
...,...,...,...,...,...,...,...
94,11/28/2022,1,NaN,NaN,NaN,2022-11-28,2022-11-28
95,01/26/2023,1,1.0,NaN,NaN,2023-01-26,2023-01-26
96,02/15/2023,1,NaN,NaN,NaN,2023-02-15,2023-02-15
97,03/22/2023,1,1.0,NaN,NaN,2023-03-22,2023-03-22
98,06/01/2023,1,1.0,NaN,NaN,2023-06-01,2023-06-01

In [ ]:
merged_1 = bonds.merge(infringement, on=["Date"], how="left")