In [2]:
import pandas as pd
from datetime import datetime

In [3]:
index= pd.read_csv('data/V4_index_master.csv')
del index['_merge']

In [4]:
my_times = index['date'].values
my_time_cor = []
for my_time in my_times:
    dt_obj = datetime.strptime(my_time,'%m/%d/%Y')
    my_time_cor.append(dt_obj.strftime('%Y-%m-%d'))
df = pd.DataFrame({'col':my_time_cor})
index['date'] = df['col']

In [5]:
def get_year(date_string):
    try:
        date = datetime.strptime(date_string, "%Y-%m-%d")
        year = date.year
        return year
    except ValueError:
        return "Invalid date format. Please provide a date in the format YYYY-mm-dd."

In [6]:
index['year'] = index['date'].apply(get_year)

In [7]:
index['date'] = pd.to_datetime(index['date'])
index = index.sort_values(by='date')

In [8]:
gdp = pd.read_csv('data/GDP_V4.csv')
gdp['year'] = gdp['date'].apply(get_year)

In [9]:
index_merged = pd.merge(index, gdp, on='year')
del index_merged['date_y']
index_merged = index_merged.rename(columns={'date_x':'date'})

In [10]:
index_merged['V4_close'] = index_merged['close_HU']*index_merged['weg_HU']+index_merged['close_SK']*index_merged['weg_SK']+index_merged['close_CZ']*index_merged['weg_CZ']

In [11]:
index_merged['V4_open'] = index_merged['open_HU']*index_merged['weg_HU']+index_merged['open_SK']*index_merged['weg_SK']+index_merged['open_CZ']*index_merged['weg_CZ']

In [12]:
index_merged

,date,close_HU,open_HU,close_SK,open_SK,close_CZ,open_CZ,year,GDP_HU,GDP_SK,GDP_CZ,weg_CZ,weg_SK,weg_HU,V4_close,V4_open
0,2014-01-02,4.12,4.12,0.907,0.907,0.191,0.191,2014,14294.259,18719.988,19890.920,0.375973,0.353840,0.270186,1.505912,1.505912
1,2014-01-03,4.11,4.11,0.905,0.905,0.192,0.192,2014,14294.259,18719.988,19890.920,0.375973,0.353840,0.270186,1.502879,1.502879
2,2014-01-07,4.04,4.04,0.869,0.869,0.481,0.481,2014,14294.259,18719.988,19890.920,0.375973,0.353840,0.270186,1.579884,1.579884
3,2014-01-08,4.01,4.01,0.771,0.771,0.148,0.148,2014,14294.259,18719.988,19890.920,0.375973,0.353840,0.270186,1.411903,1.411903
4,2014-01-09,3.94,3.94,0.755,0.755,0.628,0.628,2014,14294.259,18719.988,19890.920,0.375973,0.353840,0.270186,1.567795,1.567795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,2022-12-21,10.04,10.04,2.937,3.035,5.619,5.611,2022,18463.209,21258.113,27638.373,0.410310,0.315591,0.274099,5.984375,6.012021
2010,2022-12-23,10.08,10.08,3.305,2.982,5.618,5.603,2022,18463.209,21258.113,27638.373,0.410310,0.315591,0.274099,6.111067,6.002976
2011,2022-12-27,10.14,10.14,3.127,3.162,5.596,5.611,2022,18463.209,21258.113,27638.373,0.410310,0.315591,0.274099,6.062311,6.079511
2012,2022-12-28,10.10,10.10,3.131,3.341,5.588,5.595,2022,18463.209,21258.113,27638.373,0.410310,0.315591,0.274099,6.049326,6.118473
2013,2022-12-29,10.95,10.95,3.112,3.306,5.740,5.580,2022,18463.209,21258.113,27638.373,0.410310,0.315591,0.274099,6.338681,6.334256

In [24]:
index_final = index_merged[['date', 'V4_close']].copy()

In [36]:
index_final['date'] = pd.to_datetime(index_final['date'])
index_final['V4_change']=(index_merged['V4_close'].diff())/index_merged['V4_close']

In [37]:
index_final

           date  V4_close  V4_change
0    2014-01-02  1.505912        NaN
1    2014-01-03  1.502879  -0.002018
2    2014-01-07  1.579884   0.048741
3    2014-01-08  1.411903  -0.118975
4    2014-01-09  1.567795   0.099434
...         ...       ...        ...
2009 2022-12-21  5.984375   0.005841
2010 2022-12-23  6.111067   0.020731
2011 2022-12-27  6.062311  -0.008042
2012 2022-12-28  6.049326  -0.002146
2013 2022-12-29  6.338681   0.045649

[2014 rows x 3 columns]

In [28]:
PL2Y = pd.read_csv('data/PL2Y.csv')

In [30]:
my_times = PL2Y['Date'].values
my_time_cor = []
for my_time in my_times:
    dt_obj = datetime.strptime(my_time,'%m/%d/%Y')
    my_time_cor.append(dt_obj.strftime('%Y-%m-%d'))
df = pd.DataFrame({'col':my_time_cor})
PL2Y['Date'] = df['col']

In [33]:
PL2Y = PL2Y.sort_values(by='Date')

In [41]:
PL2Y = PL2Y[['Date', 'Price']].copy()
PL2Y = PL2Y.rename(columns={'Price':'PL2Y_close','Date':'date'})

In [42]:
PL2Y['PL2Y_change'] = (PL2Y['PL2Y_close'].diff())/PL2Y['PL2Y_close']

In [43]:
PL2Y

            date  PL2Y_close  PL2Y_change
2850  2014-01-02       3.070          NaN
2849  2014-01-03       3.058    -0.003924
2848  2014-01-04       3.058     0.000000
2847  2014-01-05       3.058     0.000000
2846  2014-01-06       3.048    -0.003281
...          ...         ...          ...
4     2023-07-26       5.457     0.004398
3     2023-07-27       5.458     0.000183
2     2023-07-28       5.511     0.009617
1     2023-07-31       5.336    -0.032796
0     2023-08-01       5.353     0.003176

[2851 rows x 3 columns]

In [46]:
PL2Y.to_csv('data/DD/PL2Y_workable.csv')
index_final.to_csv('data/DD/V4_workable.csv')