In [35]:
import datetime
import pandas as pd

In [32]:
data = pd.read_csv("data/WIGBanks_unworkable.csv")
dates = data['date']

In [33]:
def get_day_of_week(date_string):
    try:
        date = datetime.datetime.strptime(date_string, "%m/%d/%Y")
        day_of_week = date.strftime("%A")
        return day_of_week
    except ValueError:
        return "Invalid date format. Please provide a date in the format MM/DD/YYYY."

In [36]:
data['day_of_week'] = data['date'].apply(get_day_of_week)
pivot_weekday_wig = data.groupby(['day_of_week']).agg({'price':'count'})
pivot_weekday_wig

             price
day_of_week
Friday         469
Monday         469
Sunday           1
Thursday       473
Tuesday        481
Wednesday      481

In [37]:
from datetime import datetime
my_times = data['date'].values
my_time_cor = []
for my_time in my_times:
    dt_obj = datetime.strptime(my_time,'%m/%d/%Y')
    my_time_cor.append(dt_obj.strftime('%Y-%m-%d'))
df = pd.DataFrame({'col':my_time_cor})
data['date'] = df['col']

In [38]:
data = data.replace(',','', regex=True)

In [39]:
data.to_csv("data/WIGBanks_workable.csv")